@charset "UTF-8";

@import url('https://use.typekit.net/fbp1qwp.css'); 
 
/* Remove Default Margins */

* { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}
  
/* Remove White Gaps at Top/Bottom */ 

html, body { 
    height: 100%; 
    max-width: 100vw;
}

@media (max-width: 880) { 
    nav { 
        flex-wrap: wrap;
        justify-content: center; 
        display: block; 
    }  
     
    nav img { 
        flex-wrap: wrap;
        justify-content: center;
    }   
     
    .nav-list { 
        justify-content: center;
        flex-wrap: wrap;
    }
} 

:root { 
    --teal: #073c3d;
    --gold: #e2a84f;
    --blue: #011526;
    --purple: #400637;
    --white: #e6f2f1;
    --brown: #220702;
}
  
main { 
    background: linear-gradient(in oklch, #020512, #011526, transparent);
} 

body { 
    background: linear-gradient(in oklch, #020512, #020512);
    background-attachment: fixed; 
    font-family: "arponasans", sans-serif; 
    color: var(gold);
    padding-bottom: 100px;
    width: 100vw; 
    justify-content: center;
}

a { 
    text-decoration: none; 
    color: var(--gold);
    font-family: "ivymode-variable", sans-serif;
    font-size: 25px;
    letter-spacing: 0.02em;
}  

a:hover { 
    color: var(--white);
}
 
h1 { 
    font-family: "ivymode-variable", sans-serif;
    color: var(--gold);
    font-weight: 400;
    font-size: 50px;
    letter-spacing: 0.02em;
} 

h2 { 
    font-family: "ivymode-variable", sans-serif;
    color: var(--gold);
    font-weight: 400;
    letter-spacing: 0.02em;
    font-size: 40px;
} 

h3 { 
    font-family: "arpona", serif;
    color: var(--gold);
    font-weight: 400;
    letter-spacing: 0.02em;
    font-size: 25px;
}
 
p { 
    font-family: "arponasans", sans-serif;
    color: var(--white);
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
}
 
.container {
    padding: 16px;
    margin: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    float: center;
    justify-content: center;
}  

header { 
    background: linear-gradient(in oklch, #020512, #020512, transparent);
    min-height: 350px;
    width: 100vw; 
    flex-wrap: wrap;
    margin-bottom: -150px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px; 
} 

.nav-list { 
    display: flex;
    list-style: none;
    grid-gap: 30px;
    align-items: center; 
    color: var(--gold);
    flex-wrap: wrap;
    justify-content: center; 
    margin-right: 50px;
}
 
.nav img { 
    max-width: 300px;
} 

.nav-list a { 
    color: var(gold); 
    font-family: "ivymode-variable", sans-serif;
} 

.btn { 
    padding: 12px 20px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-family: "arpona", serif;
    font-size: 25px;
    border-radius: 5px;
}

.btn1 { 
    background-color: var(--purple);
    border: 1px solid #e2a84f;
    color: var(--gold); 
}   

.btn1:hover { 
    background-color: var(--purple); 
    color: var(--white);
    border: 1px solid var(--white);
}  
 
.btn2 { 
    background-color: var(--purple);
    border: 1px solid #e2a84f;
    color: var(--gold); 
    margin-bottom: 50px;
    font-size: 20px;
} 
 
.btn2:hover { 
    background-color: var(--purple); 
    color: var(--white);
    border: 1px solid var(--white);
}
 
/*Home Styles*/ 
 
.welcome-top { 
    background-image: url(images/home.jpg);
    background-size: cover;
    background-position: start;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 100px 100px #020512; 
    min-height: 100vh;
}

.welcome-container .container { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

.welcome-container { 
    padding: 50px; 
    margin: 50px;
    display: flex; 
    clear: both;
    width: auto;
    align-items: start;
    flex-wrap: wrap;
    justify-content: center;
}
 
.welcome-text { 
    text-align: left; 
    flex-wrap: wrap; 
    max-width: 500px; 
    justify-content: center; 
    background-color: rgba(0, 4, 19, 0.9);  
    border: 2px solid #e2a84f;
    padding: 50px;
}    
 
.welcome-text p { 
    margin-top: 25px; 
    margin-bottom: 25px;
}
 
.welcome-text .btn1 { 
    margin-top: 20px;
}  
 
.welcome-text h1 { 
    margin-bottom: 10px;
}
 
.fade { 
    width: 100vw; 
    height: 100px; 
    background: linear-gradient(in oklch, transparent, #020512, #020512);
} 
 
.fade2 { 
    width: 100vw; 
    height: 100px; 
    background: linear-gradient(in oklch, transparent, #020512, #020512);
    margin-top: -100px;
}
 
/*Specialties Section*/ 

.specialties-list { 
    color: var(--white);
    display: flex;
    list-style: none;
    grid-gap: 30px;
    align-items: start; 
    flex-wrap: wrap;
    margin: 20px;
    font-size: larger;
    font-size: 20px;
    font-weight: 100; 
    justify-content: center;
}

.examplephotos {
    display: flex; 
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
} 

.examplephotos img { 
    border: 2px solid #e2a84f;
    margin: 20px;
    max-width: 300px; 
    height: auto;
}

.socials { 
    display: flex;
    justify-content: right;
    align-items: right; 
}


/*Reviews Section*/ 

.reviews { 
    align-items: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

.reviewintro {
    text-align: center; 
}  
 
.reviewbox {
    background: linear-gradient(in oklch, #073c3d, #003238);
    background-color: var(--teal);
    outline: 2px solid var(--gold);
    margin: 30px;
    padding: 30px;
    float: top;
    max-width: 375px;
    flex-wrap: wrap;
    justify-content: center;
}
 
.reviewbox > div { 
    color: var(--gold); 
    text-align: right;
    font-weight: 100;
    flex-wrap: wrap;
    justify-content: center;
}  
 
.reviewbox p { 
    color: var(--gold);
} 
 
/* Services Styles*/  
 
.services-top { 
    background-image: url(images/services.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 100px 100px #020512;
    min-height: 100vh;
}

.services-container {
    padding: 50px; 
    margin: 50px;
    display: flex; 
    clear: both;
    width: auto;
    align-items: start;
    flex-wrap: wrap;
    justify-content: center;
}
  
.services-text { 
    text-align: left; 
    flex-wrap: wrap;  
    justify-content: center; 
    background-color: rgba(0, 4, 19, 0.9);  
    border: 2px solid #e2a84f;
    padding: 50px;
    max-width: 500px;
    font-family: "arponasans", sans-serif;
}
 
.services-text p { 
    margin-top: 25px; 
    margin-bottom: 25px;
    font-family: "arponasans", sans-serif;
}

.services-list { 
    color: var(--white);
    display: flex;
    list-style: none;
    grid-gap: 30px;
    align-items: start; 
    flex-wrap: wrap;
    font-size: 30px;
    justify-content: center;
    font-family: "arponasans", sans-serif; 
} 
 
.services-list a {
    font-family: "arponasans", sans-serif;
    color: var(--white);
    font-size: 20px;
} 
 
.services-list a:hover { 
    color: var(--gold);
}

.serviceintro {
    text-align: center;
    margin-bottom: 25px; 
}  
 
.services { 
    align-items: start;
    display: flex;
    flex-wrap: wrap;
    margin-top: -50px;
    justify-content: center;
    max-width: 2500px;
    max-width: 95%;
} 

.servicebox {
    background: linear-gradient(in oklch, #073c3d, #003238);
    background-color: var(--teal);
    outline: 2px solid var(--gold);
    margin: 30px;
    padding: 30px; 
    width: 700px;
    text-align: left;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center; 
    margin: 25px;
}

.servicebox p { 
    color: var(--gold);
}     
 
.servicebox h3 { 
    margin-bottom: 10px;
}
.servicesbtn { 
    margin-bottom: -50px; 
    font-size: 20px;
    margin-top: 10px;
} 

/*ABOUT STYLES*/

.about-top { 
    background-image: url(images/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 100px 100px #020512;
    min-height: 100vh;
}

.mission-container .container { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

.mission-container { 
    padding: 50px; 
    margin-bottom: 50px;
    display: flex; 
    clear: both;
    width: auto;
    align-items: start;
    flex-wrap: wrap;
    justify-content: center;
}
 
.mission-text { 
    text-align: left; 
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0, 4, 19, 0.9);  
    border: 2px solid #e2a84f;
    padding: 50px;
    max-width: 650px;
}    
 
.mission-text p { 
    margin-top: 25px; 
    margin-bottom: 25px;
}
 
.mission-text h1 { 
    margin-bottom: 10px;
}

.stylist-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 
.stylistintro {
    text-align: center;
} 
 
.stylistphoto { 
    margin-top: 50px;
    margin-left: 50px;
} 

.stylistphoto img { 
    border: 2px solid #e2a84f;
    object-fit: cover;
    max-height: 400px; 
}

.thankyoubox { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 
 
.thankyounote {
    background: linear-gradient(in oklch, #073c3d, #003238);
    background-color: var(--teal);
    outline: 2px solid var(--gold);
    padding: 50px;
    float: top;
    flex-wrap: wrap;
    justify-content: center; 
    max-width: 700px; 
    margin: 50px;
}
 
.thankyounote > div { 
    color: var(--gold); 
    text-align: right;
    font-weight: 100;
    flex-wrap: wrap;
    justify-content: center;
} 
 
.thankyounote p { 
    color: var(--gold);
} 

/*Policies Styles*/ 
 
.policies-top { 
    background-image: url(images/policies.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 100px 100px #020512;
    min-height: 100vh;
}

.policies-container { 
    justify-content: center;
} 

.policies-container .container { 
    display: flex;
    justify-content: center;
} 

.policies-container { 
    clear: both;
    width: auto;
    justify-content: center;
}

.policies { 
    justify-content: center;
} 

.policiesintro {
    text-align: center; 
    margin-top: 50px;
}   
 
.policiesintro h2 { 
    margin-bottom: -50px;
}
 
.policiesbox {
    background-color: var(--teal);
    background: linear-gradient(in oklch, #073c3d, #003238);
    outline: 2px solid var(--gold);
    margin: 30px;
    padding: 30px;
    float: top;
    max-width: 700px;
    flex-wrap: wrap;
    justify-content: center;
}
 
.policiesbox > div { 
    color: var(--gold); 
    text-align: right;
    font-weight: 100;
    flex-wrap: wrap;
    justify-content: center;
}  
 
.policiesbox p { 
    color: var(--gold);
}  

/*Contact Styles*/ 
  
 .contact-top { 
    background-image: url(images/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 100px 100px #020512;
    min-height: 100vh;
}

.contact-container { 
    background-color: rgba(0, 4, 19, 0.9);
    outline: 2px solid var(--gold);
    margin-bottom: 50px;
    padding: 50px;
    margin: 30px;
    padding: 30px;
    float: top;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
} 
 
.contact-left { 
    flex-wrap: wrap;
    margin-right: 50px;
}  
 
.contact-left p { 
    margin-top: 25px;
    color: var(--gold);
} 
 
.contact-right p { 
    color: var(--gold);
}  
 
.map-text { 
    display: flex;
    flex-wrap: wrap; 
}

.map-text p { 
    margin-right: 50px;
    margin-top: 10px;
}

form, fieldset { 
    all: unset; 
    margin-bottom: 2%; 
    padding: 2%;  
    justify-content: center;
}

.form-grid { 
    margin: 20px;
    max-width: 80%; 
    gap: 20px;  
    justify-content: center;
}

label { 
    display: flex;
    color: var(--white);
    font-family: "arponasans", sans-serif;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.4; 
    margin-top: 15px; 
    margin-bottom: 5px;
} 
 
input[type=text], input[type=email],input[type=phonenumber], input[type=message], textarea {
  background-color: var(--white); 
  border: 1px solid #e2a84f;
  margin: auto 0;
  color: var(--blue);
  width: 500px; 
  height: 25px;
  font-family: "arponasans", sans-serif;
  }  

input[type=message], textarea {
  height: 200px;
  }

form .submit { 
    border: none; 
    padding: 12px 20px;
    background-color: var(--purple); 
    border: 1px solid #e2a84f; 
    color: var(--gold);
    cursor: pointer; 
    font-family: "ivymode-variable", sans-serif;
    font-size: 25px;
    border-radius: 5px;  
    display: inline-block; 
    margin-top: 25px;
}  

.submit:hover { 
    background-color: var(--purple); 
    color: var(--white);
    border: 1px solid var(--white);
} 
 
.formsubmit { 
    text-align: right;  
    margin-right: -20px;
}

/*Footer Styles*/ 

.footer { 
    position: sticky;
    top: 100vh;
    width: 100vw; 
}

.footer .container { 
    margin-top: 100px;
    display: flex;
    padding: 40px 16px;
    justify-content: space-between;
    align-items: center;
    width: 90%;
} 
 
.footer-top h3 { 
    font-family: "ivymode-variable", sans-serif;
}

.footer-top { 
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    float: top; 
    flex-wrap: wrap;
    width: 80%; 
    text-align: left;
}  

.footer-top text { 
    flex-wrap: wrap;
    justify-content: flex-start;
}

.footer-top p { 
    font-size: 15px;
    font-weight: 200;
    min-width: 175px;
}

.footer-column {
    float: top;
    justify-content: top;
    margin: 20px;
    padding: 20px;
}

.footer-bottom a { 
    color: var(gold);
    font-weight: 400;
    letter-spacing: 0.02em;
    font-size: 15px;
    font-family: "arponasans", "sans-serif";
    font-weight: 100;
} 
 
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
}

.footer-bottom { 
    display: flex;
    list-style: none;
    grid-gap: 30px;
    align-items: center; 
    color: var(--gold);
} 
 
.footer-bottom p {
    font-size: 15px;
    font-weight: 100; 
    color: var(--gold);
}  
